<nav class="navbar p-3 bg-body-tertiary d-flex justify-content-center mb-4">
  <button class="navbar-brand m-2 btn btn-info" routerLink="empleados">
    Empleados
  </button>
  <button class="navbar-brand m-2 btn btn-info" routerLink="alta-empleado">
    Alta empleado
  </button>
  <button class="navbar-brand m-2 btn btn-info" routerLink="areas">
    Areas
  </button>
  <button class="navbar-brand m-2 btn btn-info" routerLink="alta-area">
    Alta areas
  </button>
</nav>

<router-outlet></router-outlet>

<div class="m-5 d-flex justify-content-center">
  <a href="https://github.com/agustinfrich/Challenge-GOTAM" target="_blank"
    >Github del proyecto</a
  >
</div>
